---

# - name: Refresh inventory
#   ansible.builtin.meta: refresh_inventory

- name: Get AAP node
  set_fact:
    node_name: "{{ item }}"
  loop: "{{ groups['all'] }}"
  #when: hostvars[item].tags is defined and hostvars[item].tags.Name | regex_search("^aap-(.*)$")
  when: hostvars[item].tags is defined and hostvars[item].tags.Name | regex_search("^aap-1$")

- name: Add AAP node to the netbox group
  add_host:
    name: "{{ node_name }}"
    groups: "aap"
  when: node_name is defined

- name: Get Netbox node
  set_fact:
    node_name: "{{ item }}"
  loop: "{{ groups['all'] }}"
  #when: hostvars[item].tags is defined and hostvars[item].tags.Name | regex_search("^netbox-(.*)$")
  when: hostvars[item].tags is defined and hostvars[item].tags.Name is match("^netbox-(.*)$")

- name: Add Netbox node to the netbox group
  add_host:
    name: "{{ node_name }}"
    groups: "netbox"
  when: node_name is defined

- name: Get Cisco nodes
  set_fact:
    node_name: "{{ item }}"
  loop: "{{ groups['all'] }}"
  #when: hostvars[item].tags is defined and hostvars[item].tags.Name | regex_search("^cisco-2$")
  when: hostvars[item].tags is defined and hostvars[item].tags.Name is match("^cisco-2$")

- name: Add Cisco node to the cisco group
  add_host:
    name: "{{ node_name }}"
    groups: "cisco"
  when: node_name is defined

- name: Get Arista node
  set_fact:
    node_name: "{{ item }}"
  loop: "{{ groups['all'] }}"
  #when: hostvars[item].tags is defined and hostvars[item].tags.Name | regex_search("^arista-2$")
  when: hostvars[item].tags is defined and hostvars[item].tags.Name is match("^arista-2$")

- name: Add Arista node to the arista group
  add_host:
    name: "{{ node_name }}"
    groups: "arista"
  when: node_name is defined

- name: Get Juniper node
  set_fact:
    node_name: "{{ item }}"
  loop: "{{ groups['all'] }}"
  #when: hostvars[item].tags is defined and hostvars[item].tags.Name | regex_search("^juniper-2$")
  when: hostvars[item].tags is defined and hostvars[item].tags.Name is match("^juniper-2$")

- name: Add Juniper node to the juniper group
  add_host:
    name: "{{ node_name }}"
    groups: "juniper"
  when: node_name is defined
